/* 
 .o88b.  .d88b.  db       .d88b.  d8888b. .d8888. 
d8P  Y8 .8P  Y8. 88      .8P  Y8. 88  `8D 88'  YP 
8P      88    88 88      88    88 88oobY' `8bo.   
8b      88    88 88      88    88 88`8b     `Y8b. 
Y8b  d8 `8b  d8' 88booo. `8b  d8' 88 `88. db   8D 
 `Y88P'  `Y88P'  Y88888P  `Y88P'  88   YD `8888Y' 
 */

 $lightest-blue: rgb(188, 228, 255);
 $light-blue: rgb(146, 187, 214);
 $mid-blue: rgb(64,162,227);
 $deep-blue: rgb(0, 68, 227);
 $darkest-blue: rgb(3, 0, 36);
 $lightest-gray: rgb(241, 241, 241);
 $light-gray: rgb(181, 181, 181);
 $mid-gray: rgb(145, 145, 145);
 $deep-gray: rgb(115, 115, 115);
 $darkest-gray: rgb(19, 19, 19);
 
 .bg-lightest-blue {
     background-color:$lightest-blue
 }
 .text-light-blue {
     color:$light-blue
 }
 .bg-light-blue {
     background-color:$light-blue
 }
 .text-mid-blue {
     color:$mid-blue
 }
 .bg-mid-blue {
     background-color:$mid-blue
 }
 .text-deep-blue {
     color:	$deep-blue
 }
 .bg-deep-blue {
     background-color: $deep-blue
 }
 .bg-darkest-blue {
     background-color: $darkest-blue
 }
 .bg-lightest-gray {
     background-color: $lightest-gray
 }
 .text-lightest-gray {
     color: $lightest-gray
 }
 .text-light-gray {
     color:$light-gray
 }
 .bg-light-gray {
     background-color:$light-gray
 }
 .text-mid-gray {
     color:$mid-gray
 }
 .bg-mid-gray {
     background-color:$mid-gray
 }
 .text-deep-gray {
     color:$deep-gray
 }
 .bg-deep-gray {
     background-color:$deep-gray
 }
 .bg-darkest-gray {
     background-color: $darkest-gray
 }
 
 /* Gradients */
 .home-gradient {
     background-image: linear-gradient(black, $deep-blue)
 }
 
 .contact-gradient {
     background-image: linear-gradient($deep-blue, black)
 }


/* 
 d888b  db       .d88b.  d8888b.  .d8b.  db      
88' Y8b 88      .8P  Y8. 88  `8D d8' `8b 88      
88      88      88    88 88oooY' 88ooo88 88      
88  ooo 88      88    88 88~~~b. 88~~~88 88      
88. ~8~ 88booo. `8b  d8' 88   8D 88   88 88booo. 
 Y888P  Y88888P  `Y88P'  Y8888P' YP   YP Y88888P                                  
 */

html {
    scroll-behavior: smooth
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    overflow-x:hidden
}

.container, .container-fluid {
    padding: 4px 0;
    height:100%;   

    > h1 {
        font-weight:bold
    }
}

h1 {
    margin:0;
    width:100%;
    // border-bottom: 10px solid $mid-blue;
}

a {
    color:Blue;
}

a:hover {
    color: $mid-blue;
    text-decoration:none;
}

.btn {
    font-size: 1.5rem;
}

.badge {
    font-size:1.25rem
}

.badge-container {
    width:fit-content;
    margin: 2px 0;
}

hr {
    width:100%;
    border-top:10px solid $mid-blue;
    margin:5vh;
} 

#about ul {
    list-style-type:none;
    padding-left:0;
}

.bold {
    font-weight:bold
}

.h2-underline {
    border-bottom: 3px solid $mid-gray
}

.zoom, .dev-icon {
    transition: transform .2s;
}

.zoom:hover, .dev-icon:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    cursor:pointer;
}

.line-top {
    border-top:10px solid $mid-blue;
}

.line-right {
    border-right:10px solid $mid-blue;
}

.line-bottom {
    border-bottom:10px solid $mid-blue;
}

.line-left {
    border-left:10px solid $mid-blue;
}


/* 
d8b   db  .d8b.  db    db 
888o  88 d8' `8b 88    88 
88V8o 88 88ooo88 Y8    8P 
88 V8o88 88~~~88 `8b  d8' 
88  V888 88   88  `8bd8'  
VP   V8P YP   YP    YP    
 */

#logo-text > p {
    margin-bottom:0;
}

.nav-item a{
    color:black !important;
    font-size:2rem;
    background-color:white;
}

.nav-link.active {
    color:white !important;
    background-color:	$deep-blue !important;
}



/* 
.d8888. d88888b  .o88b. d888888b d888888b  .d88b.  d8b   db .d8888. 
88'  YP 88'     d8P  Y8 `~~88~~'   `88'   .8P  Y8. 888o  88 88'  YP 
`8bo.   88ooooo 8P         88       88    88    88 88V8o 88 `8bo.   
  `Y8b. 88~~~~~ 8b         88       88    88    88 88 V8o88   `Y8b. 
db   8D 88.     Y8b  d8    88      .88.   `8b  d8' 88  V888 db   8D 
`8888Y' Y88888P  `Y88P'    YP    Y888888P  `Y88P'  VP   V8P `8888Y' 
*/

/*
██╗  ██╗ ██████╗ ███╗   ███╗███████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝
███████║██║   ██║██╔████╔██║█████╗  
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝  
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝
*/

// #home {
//     background: $darkest-blue url('../images/code-illustration.svg') no-repeat center;
// }

#home {
    position:relative;
}

#home::before {
    content:"";
    position:absolute;
    // top:-10%; 
    bottom:0;
    width:100%;
    height:100%;
    background-image: url('../images/code-illustration.svg');
    background-size: cover;
    background-position: center center;
    filter:brightness(0.8)
}

#headline {
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
}

#dzh {
    max-height:100%;
    max-width:100%;
    // border:10px solid $mid-blue;
}


/*  
        ██████╗ ██████╗  ██████╗      ██╗███████╗ ██████╗████████╗███████╗
        ██╔══██╗██╔══██╗██╔═══██╗     ██║██╔════╝██╔════╝╚══██╔══╝██╔════╝
        ██████╔╝██████╔╝██║   ██║     ██║█████╗  ██║        ██║   ███████╗
        ██╔═══╝ ██╔══██╗██║   ██║██   ██║██╔══╝  ██║        ██║   ╚════██║
        ██║     ██║  ██║╚██████╔╝╚█████╔╝███████╗╚██████╗   ██║   ███████║
        ╚═╝     ╚═╝  ╚═╝ ╚═════╝  ╚════╝ ╚══════╝ ╚═════╝   ╚═╝   ╚══════╝
*/

#projects > div {
    padding:0;
}
// .card-container {
//     width:400px;
//     max-width: 100%; 
//     margin:3vw 0;
//     position: relative;
//     -webkit-perspective: 800px;
//     -moz-perspective: 800px;
//     -o-perspective: 800px;
//     perspective: 800px;
    
//     &:hover {
//         z-index:25
//     }
// }

#cards {
    padding:0;
}

.project-card {
    position:absolute;
    left:3%;
    right:3%;
    color:black;
    background-color:white;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    .btn {
        color:black;
    }
} 

.front .card-img-overlay {
    position:absolute;
    top:auto;
    bottom:0;
}

.front img, .front .card-img-overlay {
    -webkit-transition: -webkit-filter 0.5s;
    -moz-transition: -moz-filter 0.5s;
    -o-transition: -o-filter 0.5s;
    transition: filter 0.5s;
}

.card-title {
    font-weight:bold;
}

.project-card > div {
    display: block;
    max-height: 65vh;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front, .back {
    background:white;
    position:relative;
    height:100%;
    width:100%
}

.project-card .back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card-text, #projects button {
    font-size:18px;
}

#ave-card {
    .btn {
        background-color:rgb(0, 0, 0);
        color:white;
        &:hover {
            background-color: rgb(51, 51, 51); 
        }
    }
}

#dev-card {
    .btn {
        background-color:rgb(85, 85, 85);
        color:white;
        &:hover {
            background-color: rgb(59, 59, 59); 
        }
    }
}

#barkr-card {
    .btn {
        background-color:rgb(255, 233, 111);
        &:hover {
            background-color: hsl(51, 100%, 51%); 
        }
    }
}

#timer-card {
    .btn {
        background-color:rgb(171, 122, 255);
        &:hover {
            background-color: hsl(265, 100%, 61%); 
        }
    }
}

#killi-card {
    .btn {
        background-color:rgb(121, 235, 255);
        &:hover {
            background-color: hsl(189, 100%, 56%); 
        }
    }
}

#LICS-card {
    .back {
        background-image: linear-gradient(tan,white);
    }

    .btn {
        background-color: tan;
        &:hover {
            background-color: tan; 
        }
    }
}

#portfolio-card {
    .back {
    background-image: linear-gradient(rgb(64,162,227), rgb(146,187,214));
    }

    .btn {
    background-color:rgb(64, 162, 227);
    color:white;
        &:hover {
            background-color:hsl(204, 62%, 44%);
        }
    }
}

.project img {
    max-width:100%
}

/*
           .d8b.  d8888b.  .d88b.  db    db d888888b 
          d8' `8b 88  `8D .8P  Y8. 88    88 `~~88~~' 
          88ooo88 88oooY' 88    88 88    88    88    
          88~~~88 88~~~b. 88    88 88    88    88    
          88   88 88   8D `8b  d8' 88b  d88    88    
          YP   YP Y8888P'  `Y88P'  ~Y8888P'    YP    
                                                     
                                                     
      */
 
#about {
    // .card, li {
    //     background-color: $lightest-blue;
    // }
    li {
        margin-bottom:2vh;
        display:flex;
        flex-wrap:wrap;
        align-content: flex-start;
    }
    .card {
        margin-bottom: 3vh;
    }
    .btn {
        font-size:inherit;
        color:black;
    }
} 

#headingOne {
    background-image: linear-gradient(rgb(64, 107, 227), $mid-blue)
}

#headingTwo {
    background-image: linear-gradient($mid-blue, $light-blue)
}

#headingThree {
    background-image: linear-gradient($light-blue, $lightest-blue);
}

// #headingOne {
//     background-color: $mid-blue;
// }

// #headingTwo {
//     background-color: $light-blue;
// }

// #headingThree {
//     background-color: $lightest-blue;
// }

// #about-cards {
//     .card {
//         border:none;
//     };
//     .card-body {
//         padding:0;
//     }
// }

.badge {
    transition: transform 1s;
}

.barrel-roll {
    -webkit-transform: rotateY( 360deg );
    -moz-transform: rotateY( 360deg );
    -o-transform: rotateY( 360deg );
    transform: rotateY( 360deg );
}

#explosion {
    background: url('../images/explosion.gif');
    background-size: 30px 30px;
    width: 30px; /* Width of new image */
    height: 30px; /* Height of new image */
    padding-left: 30px; /* Equal to width of new image */
}

#resume-icon {
    height:5em;
    cursor:pointer;
}

#resume-iframe {
    height:80vh;
}

.carousel-item img{
    filter:brightness(0.50)
}

#key {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#key > .badge {
    font-size:1.5rem;
    margin: .25rem;
}

#accordionExample .card {
    margin:0;
}

// .zoom:hover, .dev-icon:hover {
//     -webkit-transform: scale(1.1, 1.1);
//     transform: scale(1.1, 1.1);
//     cursor:pointer;
// }


/*
 .o88b.  .d88b.  d8b   db d888888b  .d8b.   .o88b. d888888b 
d8P  Y8 .8P  Y8. 888o  88 `~~88~~' d8' `8b d8P  Y8 `~~88~~' 
8P      88    88 88V8o 88    88    88ooo88 8P         88    
8b      88    88 88 V8o88    88    88~~~88 8b         88    
Y8b  d8 `8b  d8' 88  V888    88    88   88 Y8b  d8    88    
 `Y88P'  `Y88P'  VP   V8P    YP    YP   YP  `Y88P'    YP    
      */

#contact {
    position:relative;
    // background: $darkest-blue url('../images/code-illustration.svg') no-repeat center;
}

#contact::before {
    content:"";
    position:absolute;
    top:0%; 
    width:100%;
    height:100%;
    background-image: url('../images/code-illustration.svg');
    background-size: cover;
    filter:brightness(0.4);
    z-index:0
}

// Xs to Md design

#contact-top-l-div {
    border-top:10px solid $mid-blue
}

#contact-top-container {
    border-right:10px solid $mid-blue;
    border-top:10px solid $mid-blue;
    border-bottom:10px solid $mid-blue;
    padding-right:15px;
}

#contact-bottom-container {
    border-left:10px solid $mid-blue;
    border-bottom:10px solid $mid-blue;
    padding-left:15px;
}

#contact-bottom-r-div {
    border-bottom:10px solid $mid-blue
}

// All sizes

.contact-text {
    color:white;
    font-size:2rem;
}

.contact-button {
    text-align:left;
    margin:5px;
    font-size:1.5rem;
    background-color: $deep-blue;
    color:white;
    border:1px solid white
}

.contact-button:hover {
    background-color: $mid-blue;
    color:white;
}

/*  
          d88888b  .d88b.   .d88b.  d888888b d88888b d8888b. 
          88'     .8P  Y8. .8P  Y8. `~~88~~' 88'     88  `8D 
          88ooo   88    88 88    88    88    88ooooo 88oobY' 
          88~~~   88    88 88    88    88    88~~~~~ 88`8b   
          88      `8b  d8' `8b  d8'    88    88.     88 `88. 
          YP       `Y88P'   `Y88P'     YP    Y88888P 88   YD 
                                                             
                                                             
    */

footer {
    width:100%;
    color:white;
    background-color:$darkest-blue;
    padding:5px;

    > * {
        position: relative;
        font-family: 'Source Sans Pro', sans-serif;
        // font-weight:bold;
        color:white;
        height:fit-content;
        font-size: clamp(1rem, 1.5rem, 2rem)
    }
}


/* 
 .d8b.   .o88b.  .o88b. d88888b .d8888. .d8888.  .d8b.  d8888b. d888888b db      d888888b d888888b db    db 
d8' `8b d8P  Y8 d8P  Y8 88'     88'  YP 88'  YP d8' `8b 88  `8D   `88'   88        `88'   `~~88~~' `8b  d8' 
88ooo88 8P      8P      88ooooo `8bo.   `8bo.   88ooo88 88oooY'    88    88         88       88     `8bd8'  
88~~~88 8b      8b      88~~~~~   `Y8b.   `Y8b. 88~~~88 88~~~b.    88    88         88       88       88    
88   88 Y8b  d8 Y8b  d8 88.     db   8D db   8D 88   88 88   8D   .88.   88booo.   .88.      88       88    
YP   YP  `Y88P'  `Y88P' Y88888P `8888Y' `8888Y' YP   YP Y8888P' Y888888P Y88888P Y888888P    YP       YP    
 */


//Disable smooth scrolling when users have prefers-reduced-motion enabled

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}


/* 
.88b  d88. d88888b d8888b. d888888b  .d8b.        .d88b.  db    db d88888b d8888b. d888888b d88888b .d8888. 
88'YbdP`88 88'     88  `8D   `88'   d8' `8b      .8P  Y8. 88    88 88'     88  `8D   `88'   88'     88'  YP 
88  88  88 88ooooo 88   88    88    88ooo88      88    88 88    88 88ooooo 88oobY'    88    88ooooo `8bo.   
88  88  88 88~~~~~ 88   88    88    88~~~88      88    88 88    88 88~~~~~ 88`8b      88    88~~~~~   `Y8b. 
88  88  88 88.     88  .8D   .88.   88   88      `8P  d8' 88b  d88 88.     88 `88.   .88.   88.     db   8D 
YP  YP  YP Y88888P Y8888D' Y888888P YP   YP       `Y88'Y8 ~Y8888P' Y88888P 88   YD Y888888P Y88888P `8888Y' 
 */

/* 
          db    db .d8888. 
          `8b  d8' 88'  YP 
           `8bd8'  `8bo.   
           .dPYb.    `Y8b. 
          .8P  Y8. db   8D 
          YP    YP `8888Y' 
                           
                           
*/
@media only screen and (max-width : 576px) {
    
    /* Typography */
    body, p {
        font-size:1.25rem;
    }
    h2 {
        font-size:1.75rem; 
    }
    h3, .contact-text {
        font-size:1.5rem
    }
    .badge {
        font-size:1rem;
    }
    .btn {
        font-size:1rem;
    }
    .display-3 {
        font-size:2rem;
    } 
    .navbar-brand {
        font-size: 1rem;
    }
    footer * {
        font-size:1rem;
        font-weight:bold;
    }

    // Global
    section {
        padding:5vh 2vh;
    }

    /* Nav */
    .navbar-toggler-icon, .navbar-brand {
        outline: white auto 1px;
        background-color:rgba(0, 0, 0, 0.65);
    }
    .nav-item > a {
        background-color: rgba(255, 255, 255, 1);
    }

    // Contact
    form > .card-body {
        padding:10px
    }

    .label {
        margin-bottom:4px
    }

    .form-group {
        margin-bottom:8px
    }   

    #home {
        padding:10vh 0
    }
}

/* 
          .d8888. .88b  d88. 
          88'  YP 88'YbdP`88 
          `8bo.   88  88  88 
            `Y8b. 88  88  88 
          db   8D 88  88  88 
          `8888Y' YP  YP  YP 
*/

@media only screen and (min-width : 576px) {
    body, p, label, li {
        font-size:1.5rem
    }
    
    #home {
        padding:10vh 0
    }

    #home-container {
        padding: 2rem 2rem 2rem 0;
    }
    
    #headline {
        font-size: 3.5rem;
    } 

    section {
        padding:7vw 0;
    }

    #projects .btn {
        font-size:1.5rem
    }

    .card-text {
        font-size:1.5rem
    }

    svg {
        height:10vh;
    }

}

/* 
          .88b  d88. d8888b. 
          88'YbdP`88 88  `8D 
          88  88  88 88   88 
          88  88  88 88   88 
          88  88  88 88  .8D 
          YP  YP  YP Y8888D' 
                             
                             
*/

@media only screen and (min-width : 768px) {

    body {
        font-size:1rem;
    }

    h1 {
        font-size:3rem
    }

    h2 {
        font-size:2rem;
    }

    h3 {
        font-size:1.5rem;
    }

    section {
        padding:10vh 0;
    }

    #home {
        padding: 19vh 0;
    }

    #contact {
        padding: 15vh 0;
    }

    #home-container {
        padding: 2.5rem 2.5rem 2.5rem 0;
    }

    .navbar-brand {
        padding:8px
    }

    header {
        width:99%;
    }

    .modal-dialog {
        max-width:75vw;
    }

    #dzh {
        max-height:50vh;
        max-width:100%
    }

    .fa-linkedin, .fa-github-square {
        font-size:6rem;
    }

    svg {
        height:4vh;
        margin:3px
    }

    #projects .btn {
        font-size:1.25rem
    }

    .card-text {
        font-size: 1.2rem
    }
}

/* 
          db       d888b  
          88      88' Y8b 
          88      88      
          88      88  ooo 
          88booo. 88. ~8~ 
          Y88888P  Y888P  
                          
                          
*/
@media only screen and (min-width : 992px) {
    
    #projects {

        padding:5vw 10vw;

        .btn {
            font-size:1.25rem
        }

        .card-container {
            // margin:0
            margin:3% 0;
        }

        .card-text {
            font-size: 1.5rem
        }

        .card {
            background-color: $lightest-blue;
            border:0;
        }

        .card-body {
            height:100%;
            // padding:0 15% 25%;
            // padding:15% 15%;
            padding:1.5rem;
            display:flex;
            flex-direction:column;
            // align-items: space-between;
            justify-content: space-between;
            background-color: $lightest-blue;
        }

    }

    h3, .contact-text {
        font-size:1.75rem
    }

    #about {
        padding:5vw 10vw;
    }
}

// Contact line style
#contact-l-div {
    margin-right:15px;
    border-bottom:10px solid rgb(64,162,227)
}

#container-left {
    padding: 0 3.5rem 3.5rem 0;
    border-right:10px solid rgb(64,162,227);
    border-bottom:10px solid rgb(64,162,227)
}

#contact-container {
    margin:0 -15px;
}

#container-right {
    padding: 3.5rem 0 3.5rem 3.5rem;
    border-top:10px solid rgb(64,162,227);
}

#contact-r-div {
    margin-left:15px;
    border-top:10px solid rgb(64,162,227);
    // border-bottom:10px solid rgb(64,162,227)
}

/* 
          db    db db      
          `8b  d8' 88      
           `8bd8'  88      
           .dPYb.  88      
          .8P  Y8. 88booo. 
          YP    YP Y88888P 
                           
                           
          */

@media only screen and (min-width : 1200px) {
    
    section {
        padding:9vh 0;
    }

    h1 {
        font-size:4rem
    }

    h2 {
        font-size:2.6rem;
    }

    h3 {
        font-size:1.7rem;
    }

    #home-container {
        padding: 3rem 3rem 3rem 0;
    }
    
    #headline {
        top:33%;
        font-size:5rem;
    }

    .card-container{ 
        margin: 1.5rem 0;
    }

    .card-text {
        font-size: 1.5rem
    }
}


