body {
    background: black url("/images/60s-background-faded.jpg") no-repeat center top;
    background-size:cover;
    width:100%;
    .flex-column();
    text-align:center;
    font-family: 'Oxygen', sans-serif;
    line-height:1.1em;
}

header {
    display:block;
    box-sizing:border-box;
    background-color: white;
    margin: 20px auto 0 auto;
    padding: 20px 0 0 20px;
    text-align:center;
    .rounded-shadow();
} 

nav {
    width:100%;
    border-radius: 15px;
    font-family: 'Poiret One', cursive;  
    background-color:white;
}

.rollover {
    .flex-row();
    justify-content:space-between;
}

.rollover div {
    padding:0 20px 20px 0;    
}

.rollbtn {
    width:75px;
}

.nav-links {
    width:100%;
    display:none;
}

.nav-links a {
    padding:0;
}

.rollover:hover .nav-links {
    .flex-row();
    justify-content:space-evenly;
}

#breadcrumbs {
    clear:right;
    float:left;
    .flex-column();
    background-color:indigo;    
    text-align:left;
    width:115px;
}

#breadcrumbs a {    
    margin:0 0 20px;
    width:80%;
    color:white;
    text-align:center;
    margin: 10px auto;
}

#search {
    float:right;
    width:25%;
    position:relative;
    top:-13px;
    right:7px;
}

#logo {
    clear:right;
    margin: 0 auto 50px auto ;
    padding:30px;
    width:60%;
    background-image:
    linear-gradient(
      to right,        
      green,
      blue,
      indigo);
      .rounded-shadow();
}

#logo-text {
    padding:30px;
    font-family: 'Poiret One', cursive;
    background-color:white;
    .rounded-shadow();
}

main {
    border-radius: 30px;
    padding: 20px 0 0 20px;
    margin: 20px auto 0 auto;
    background-color:white;
    box-shadow: 15px 15px 15px gray;
    .flex-column();
    justify-content:space-between;
    .rounded-shadow();
}

.title {
    text-align:center;
}

aside {
    width:100%;
    background-color:green;
    color:white;
    box-sizing: border-box;
    .rounded-with-shadow();
    padding:20px;
    float: none;
    order: 0;
}


//                           MEDIA QUERIES


@media screen and (min-width:800px) {
    body {
        background: black url("/images/60s-background-faded.jpg") no-repeat center top;
        background-size:cover;
    }
    
    header {
        width:860px;
    }
    
    main {
        display:block;
        box-sizing:border-box;
        width:860px;
        margin:20 auto 0 auto;
    }
    
    aside {
        width:40%;
    }

    form {
        text-align:center;
    }

    article {
        box-sizing: border-box;
        width:800px;
        margin:0 auto;
    }

    footer {
        width:860px;
    }
}

//                      ASIDE CONTENT

.aside-img {
    width:45%;
    margin:7px;
}

#newest {
    width:100%;
    max-width:400px;
    margin:0;
}

#new-projects {
    .flex-row();
    flex-wrap:wrap;
    justify-content:center;
}

#aside-coming-soon {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

#aside-coming-soon > div {
    display:block;
    box-sizing: border-box;
    padding:5px;
    width:50%;
}

#aside-coming-soon > h3 {
    width:100%;
}

//              ARTICLE AND SECTION CONTENT

article {
    text-align: left;
    box-sizing: border-box;
    padding: 20px 0 0 20px;
    margin: 0 20px 20px 0;
    order:1;
}

section {
    padding: 20px 0 0 20px;
}

main > div {
    margin:auto;
    display:block;
}

#panel1 {
    border-bottom:1px solid black;
}

.category {
    text-indent: 0px;
}

img {
    max-width:100%;
    box-sizing: border-box;
    .rounded-with-shadow();
}

.float-right {
    float:right;
    margin-left:30px;
}

.float-left {
    float:left;
    margin: 0 20px 20px 0;
}

.float-clear {
    clear: both ;
}

.center {
    text-align:center;
    margin:auto;
    display:block;
}

#top-anchor {
    width:25%;
    padding:10px;
    margin: 10px auto;
    .rounded-shadow();
    border: 1px solid black;
}

footer {
    background-color:white;
    margin: 20px auto 0 auto;
    padding:50px 0;
    display:block;
    margin: 20px auto;
    text-align:center;
    .rounded-shadow();
}


//                          GALLERY CONTENT

#photo-gallery {
    .flex-row();
    flex-wrap: wrap;
}

/*
#photo-gallery > img {
    max-width: 300px;
    }
*/

.gallery-img {
    width:360px;
    height:360px;
    background-position:center center;
    background-repeat:no-repeat;
    overflow:hidden;
    margin:0 20px 20px 0;
}

.gallery-img img {
    min-height: 100%;
    min-width: 100%;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* modern browsers */
    opacity: 0;

//                      LESS Preprocessing

//consolidated code for elements with border-radius and box-shadow;
.rounded-with-shadow() {
    border-radius: 15px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
}

//consolidated code for flexboxes and selecting for columns vs rows

.flex-column() {
    display:flex;
    flex-direction: column;
}

.flex-row() {
    display: flex;    
    flex-direction: row;
}

.rounded-shadow {
    border-radius: 15px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
}