# ███████╗ ██████╗ ██╗   ██╗██████╗  ██████╗███████╗    ███████╗██╗██╗     ███████╗███████╗    ████████╗ ██████╗     ██╗ ██████╗ ███╗   ██╗ ██████╗ ██████╗ ███████╗
# ██╔════╝██╔═══██╗██║   ██║██╔══██╗██╔════╝██╔════╝    ██╔════╝██║██║     ██╔════╝██╔════╝    ╚══██╔══╝██╔═══██╗    ██║██╔════╝ ████╗  ██║██╔═══██╗██╔══██╗██╔════╝
# ███████╗██║   ██║██║   ██║██████╔╝██║     █████╗      █████╗  ██║██║     █████╗  ███████╗       ██║   ██║   ██║    ██║██║  ███╗██╔██╗ ██║██║   ██║██████╔╝█████╗  
# ╚════██║██║   ██║██║   ██║██╔══██╗██║     ██╔══╝      ██╔══╝  ██║██║     ██╔══╝  ╚════██║       ██║   ██║   ██║    ██║██║   ██║██║╚██╗██║██║   ██║██╔══██╗██╔══╝  
# ███████║╚██████╔╝╚██████╔╝██║  ██║╚██████╗███████╗    ██║     ██║███████╗███████╗███████║       ██║   ╚██████╔╝    ██║╚██████╔╝██║ ╚████║╚██████╔╝██║  ██║███████╗
# ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚══════╝    ╚═╝     ╚═╝╚══════╝╚══════╝╚══════╝       ╚═╝    ╚═════╝     ╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
#include source files and exclude deployment files. 
#These will be hidden from the master branch.
#FOR PUSHING TO MASTER, TAKE OFF COMMENTS
#FOR PUSHING TO SOURCE, COMMENT THESE OUT
project-adhd/distraction-timer/src




# ====================================================================================================================================================================

# ███╗   ███╗ █████╗ ███████╗████████╗███████╗██████╗     ███████╗██╗██╗     ███████╗███████╗    ████████╗ ██████╗     ██╗ ██████╗ ███╗   ██╗ ██████╗ ██████╗ ███████╗
# ████╗ ████║██╔══██╗██╔════╝╚══██╔══╝██╔════╝██╔══██╗    ██╔════╝██║██║     ██╔════╝██╔════╝    ╚══██╔══╝██╔═══██╗    ██║██╔════╝ ████╗  ██║██╔═══██╗██╔══██╗██╔════╝
# ██╔████╔██║███████║███████╗   ██║   █████╗  ██████╔╝    █████╗  ██║██║     █████╗  ███████╗       ██║   ██║   ██║    ██║██║  ███╗██╔██╗ ██║██║   ██║██████╔╝█████╗  
# ██║╚██╔╝██║██╔══██║╚════██║   ██║   ██╔══╝  ██╔══██╗    ██╔══╝  ██║██║     ██╔══╝  ╚════██║       ██║   ██║   ██║    ██║██║   ██║██║╚██╗██║██║   ██║██╔══██╗██╔══╝  
# ██║ ╚═╝ ██║██║  ██║███████║   ██║   ███████╗██║  ██║    ██║     ██║███████╗███████╗███████║       ██║   ╚██████╔╝    ██║╚██████╔╝██║ ╚████║╚██████╔╝██║  ██║███████╗
# ╚═╝     ╚═╝╚═╝  ╚═╝╚══════╝   ╚═╝   ╚══════╝╚═╝  ╚═╝    ╚═╝     ╚═╝╚══════╝╚══════╝╚══════╝       ╚═╝    ╚═════╝     ╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
#include deployment files and exclude source files.
#These will be hidden from the source branch.
#FOR PUSHING TO MASTER, COMMENT THESE OUT
#FOR PUSHING TO SOURCE, TAKE OFF COMMENTS
# project-adhd/distraction-timer/public





# ====================================================================================================================================================================

# STATIC: leave on for all branches
portfolio-research-and-plan.docx
github-portfolio.code-workspace
assets/
barkr-react/
portfolio-react/
portfolio-bootstrap/font-analysis.xlsx
.gitignore