$color-primary: #3046C5;
$color-secondary: #5637dd;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-transparent-black: rgba(0, 0, 0, 0.5);

//$body-font: "open Sans", sans-serif;   
//$header-font: "Lobster", cursive;

html {
    height:100vh;
}

body {
    height:100vh;
    color:black; 
}

div {
    margin:0;
    padding:0;
}

.container, .btn, .row, .col-12, .col-6, .col-5 {
    margin:0;
    padding:0;
}

.card {
    margin:10px 0;
}

h1 {
    font-size: 10vh;
}

h2 {

}

.site-footer {
    background-image: linear-gradient($color-pale, white);
    padding: 20px 0;
}
/*
.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark);
    color:white;
    margin:0;
}

.row-content {
    padding: 50px 0;
    border-bottom:1px ridge;
}

.navbar {
    background-color: color-mid;
}

.tab-content {
    border: 1px solid #DDD;
    border-top:none;
    padding:10px;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
}

.carousel {
    border: solid $color-secondary;
}

#carouselButton {
 position: absolute;
 right:0;
 bottom:0;   
}
*/